{% macro render_field(field) %}
    <p>
        {% if field.type == 'BooleanField' %}
            <label class="checkbox">
                {{ field(**kwargs)|safe }}
                {{ field.label.text }}
            </label>
        {% else %}
            {% if field.type != 'HiddenField' %}
                {{ field.label }}
            {% endif %}
            {{ field(**kwargs)|safe }}
        {% endif %}
        {% if field.errors %}
            <span class="help-block">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        {% endif %}
    </p>
{% endmacro %}
