Flask==0.9
Flask-Bootstrap==2.0.4-3
Flask-DebugToolbar==0.7.1
Flask-Login==0.1.3
Flask-OAuth==0.11
Flask-PyMongo==0.1.3
Flask-WTF==0.8
Jinja2==2.6
WTForms==1.0.1
Werkzeug==0.8.3
blinker==1.2
bugsnag==1.0.0
gunicorn==0.14.6
httplib2==0.7.7
oauth2==1.5.211
pymongo==2.3
pytz
sendgrid==0.1.3
sendgrid-python==0.1.1
wsgiref==0.1.2
