{% from 'helpers/forms.html' import render_field -%}

{% extends 'base.html' %}

{%- block title -%}
    Claim {{ venue }} - {{ super() }}
{%- endblock -%}

{%- block content %}
    <div class="hero-unit">
        <div class="container">
            <h1>{{ venue }}</h1>
        </div>
    </div>
    <div class="container">
        <form action="{{ url_for('venue_claim', _id=venue._id) }}" method="post" class="well form-horizontal">
            {{ render_field(form.contact_name) }}
            {{ render_field(form.contact_email) }}
            {{ render_field(form.contact_phone) }}

            {{ render_field(form.capacity) }}

            {%- if 'confirm' in form -%}
                {{ render_field(form.confirm) }}
            {%- endif -%}

            <button type="submit" class="btn btn-primary">
                {%- if 'confirm' in form -%}
                    Claim
                {%- else -%}
                    Update
                {%- endif -%}
            </button>
        </form>
    </div>
{%- endblock %}
