{% from 'helpers/forms.html' import render_field -%}

{% extends 'base.html' %}

{%- block title -%}
    Not Found - {{ super() }}
{%- endblock -%}

{%- block content %}
    <div class="hero-unit">
        <div class="container">
            <div class="span6 offset2">
                <h1>Couldn't find that.</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span6 offset3 container">
            <h3>There's no page at {{request.path}}, sorry.</h3>
        </div>
    </div>

{%- endblock %}
