{% extends 'base.html' %}

{%- block content %}
    <div class="hero-unit">
        <div class="container">
            <img src="{{ url_for('static', filename='img/logo.png') }}" width="96" height="140" alt="logo">
            <h1>NYC Tech Meetups</h1>
            <p>
                For groups in need of spaces and spaces in need of groups
            </p>
            <p>
                <a class="btn btn-inverse btn-large">
                    Learn more
                </a>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="btn-group group-main">
            <a class="btn btn-primary">I <strong>need</strong> a space</a>
            <a class="btn btn-primary">I <strong>have</strong> a space</a>
        </div>
    </div>
{%- endblock %}
