{% from 'helpers/forms.html' import render_field -%}

{% extends 'base.html' %}

{%- block title -%}
    I want a space - {{ super() }}
{%- endblock -%}

{%- block content %}
    <div class="hero-unit">
        <div class="container">
            <h1>I <em>need</em> a space</h1>
        </div>
    </div>

    <div class="need">
        <div class="row show-grid{% if groups %} active{% endif %}">
            <div class="span6 offset3 container">
                <h3>
                    1. Which group do you need space for?
                    {% if group %}<i class="icon-ok"></i>{% endif %}
                </h3>
                {% if groups %}
                <ul>
                    {% for group in groups %}
                    <li><a href="{{ url_for('need_event', group_id=group._id) }}">{{ group.name }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                {% if group %}
                <p>{{ group.name }}</p>
                {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="row show-grid{% if events %} active{% endif %}">
            <div class="span6 offset3 container">
                <h3>
                    2. Which event do you need space for?
                    {% if event %}<i class="icon-ok"></i>{% endif %}
                </h3>
                {% if events %}
                <ul>
                    {% for event in events %}
                    <li><a href="{{ url_for('need_venue', group_id=group._id, event_id=event._id) }}">{{ event.name }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                {% if event %}
                <p>{{ event.name }}</p>
                {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="row show-grid{% if all_venues and not picked_venues %} active{% endif %}">
            <div class="span6 offset3 container">
                <h3>
                    3. Which venues are you interested in?
                    {% if picked_venues %}<i class="icon-ok"></i>{% endif %}
                </h3>
                {% if all_venues and not picked_venues %}
                <form method="POST" action="{{ url_for('need_request', group_id=group._id, event_id=event._id) }}" class="well form-horizontal">
                {% endif %}
                {% if all_venues and not picked_venues %}
                <ul>
                    {% for venue in all_venues %}
                    <li><label for="{{ venue._id }}">
                        <input type="checkbox" name="venue_id" value="{{ venue._id }}" id="{{ venue._id }}" /> {{ venue.name }}
                    </label></li>
                    {% endfor %}
                </ul>
                {% else %}
                {% if picked_venues %}
                {{ picked_venue_names|join(', ') }}
                {% endif %}
                {% endif %}
                {% if all_venues and not picked_venues %}
                <input class="btn btn-primary" type="submit" value="Next"/>
                </form>
                {% endif %}
            </div>
        </div>

        <div class="row show-grid{% if picked_venues %} active{% endif %}">
            <div class="span6 offset3 container">
                <h3>4. Get in touch with hosts!</h3>

                {% if picked_venues %}
                {% if not event_size_known %}
                <div class="alert alert-error" style="margin-top:0.5em">
                    <strong>Couldn't determine RSVP limit.</strong> Please replace the "[RSVP limit]" in
                    the email template with an estimated size for the host.
                </div>
                {% endif %}
                {% if not event_time_known %}
                <div class="alert alert-error" style="margin-top:0.5em">
                    <strong>Couldn't determine event date.</strong> Please replace the "[event date]" in
                    the email template with an estimated date or range of dates for the host.
                </div>
                {% endif %}

                <form action="{{ url_for('need_request_submit', group_id=group._id, event_id=event._id) }}" method="post" class="well form-horizontal">
                    {% for venue in picked_venues %}
                    <input type="hidden" name="venue_id" value="{{ venue._id }}"/>
                    {% endfor %}
                    {{ render_field(request_form.name) }}
                    {{ render_field(request_form.email) }}
                    {{ render_field(request_form.phone) }}

                    {{ render_field(request_form.body) }}
                    {% raw %}
                    <div class="alert alert-info">
                        The template fields <code>{{host}}</code> and <code>{{venue_name}}</code> will be
                        replaced with the host's full name, and the selected venue's name, respectively,
                        when the email is sent.
                    </div>
                    {% endraw %}

                    <button type="submit" class="btn btn-primary">Send Email</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{%- endblock %}
